.card {
    --main-color: #e7ded9;
    --bg-color: #3f5a4e;
    position: flex;
    font-family: 'Inter';
    width: 270px;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction:column;
    gap: 5px;
    background-color: var(--bg-color);
    cursor: pointer;
    box-shadow: 0px 0px 5px -1.5px #000;
    margin-left: 15%;
  }
  

  .card__img {
    width: 100%;
  }
  
  .card__title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-left: -10px
  }
  
  .card__subtitle {
    color: var(--sub-color);
    font-weight: 600;
    font-size: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px -5px #000;
  }

  .sizea{
    max-width: 280px;
    max-height: 280px;
    border-radius: 25px;
    margin-left: 2px;
  }

  #columnprojects2 {
    float: left;
    width: 50%;
    flex-direction: column;
  }
  
  #rowprojects2{
    display:  flex;
  }

  #rowprojects2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .projectpic{
    width: 60%;
    margin-left: 20%;
  }

  a {
    text-decoration: none;
    color: #1f1814;
  }

  #middlecode{
  margin-left:36%;
  }

 #drumimg{
  margin-left: -2%;
 }

 #tracklistimg{
  margin-left: -3%;
 }

#rightcode{
  margin-left:1%;
}

#column3{
  float: right;
width: 33.33%;
margin-top: -1%;
margin-left: 137%;
}

 #column2{
  float: right;
  width: 33.33%;
  margin-left: 200%;
  margin-right: -16%;
  margin-top: -177%;
 }

 #archivalimg{
  margin-left: -2.5%;
 }